@model IEnumerable<Perfiles>

@{
    if (ViewBag.UserRoleProperty == "Administradores")
    {
    }
    else if (ViewBag.UserRoleProperty == "Reject")
    {
        Response.Redirect("/error.html");
    }
    else
    {
        Response.Redirect("/Home/Index");
    }
    ViewBag.Title = "Perfiles";
}

<h2>Grupos</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Perfil")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idPerfil)
        </td>
        <td>
            @*@Html.ActionLink("Editar", "Edit", new { id=item.idGrupo }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idGrupo }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idGrupo })*@
        </td>
    </tr>
}

</table>
