@model IEnumerable<copacker.EmpresasOperario>

@{
    if (ViewBag.UserRoleProperty == "Administradores" ||
        ViewBag.UserRoleProperty == "Propietarios")
    {
    }
    else if (ViewBag.UserRoleProperty == "Reject")
    {
        Response.Redirect("/error.html");
    }
    else
    {
        Response.Redirect("/Home/Index");
    }
    ViewBag.Title = "Operarios";
}

<h2>Operarios</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Empresa.RazonSocial)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.RazonSocial)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Legajo }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Legajo }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Legajo })
        </td>
    </tr>
}

</table>
